body {
    background-color: black;
}

.header-button {
    font-size: 24px;
}

.btn:hover, a:hover {
    color: red;
}

.container {
    display: flex;
}


.footer {
    text-align: center;
}

h3, h5 {
    color: yellow;
}

.month {
    color: goldenrod;
}

.year {
    color: white;
}

.years, h4  {
    color: goldenrod;
}

li, footer {
    color: darkgray;
}

