body, .jumbotron {
    background-color: black;
}

.header-button {
    font-size: 24px;
}

.btn:hover, a:hover {
    color: red;
}

.container {
    text-align: center;
}

#priority {
    color: white;
}

.col-sm-4, .col-sm-6 {
    text-align: center;
}


h3, h5 {
    color: yellow;
}

h5 {
    text-align: left;
}

.year {
    color: white;
}

.unity-titles {
    text-align: left;
    color: white;
}

.unity-links {
    padding-left: 100px;
}

h4 {
    text-align: left;
}
.years, h4, .month  {
    color: goldenrod;
}

li, footer {
    text-align: left;
    color: darkgray;
}

.footer {
    text-align: center;
    bottom: 0;
}


/*
Over ride the break point for navbar
*/

@media (max-width: 1200px) {
    .navbar {
        height: 40px;
    }
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
    }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      text-align: left;
      float: none;
  }
  .navbar-nav>li>a {
      width: 60px
      padding-top: 15px;
      padding-bottom: 0px;
      padding-left: 85%
  }
  .collapse.in{
      display:block !important;
  }
}